<div class='server_datatable'>
    <form id="{{ table.id }}_update_form" method="{% firstof table.form.method "post"%}"
          {%  if table.form.target %}target="{{ table.form.target }}"{%  endif %}
          {%  if table.form.action %}action="{{ table.form.action }}"{%  endif %} >
    {% csrf_token %}
    <table id='{{ table.id }}'>
        <thead>
            <tr>
                {%  for column in table %}
                    <th class='{{ column.classes }}'>{{ column.label }}</th>
                {%  endfor %}
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                {%  for column in table %}
                    <th class="{{ column.classes }}" >
                        {{ column.widget }}
                    </th>
                {%  endfor %}
            </tr>
        </tfoot>
    </table>
    {%  if table.editable %}
        <div class='action_bar'>
            <input type='submit' value='Save'>
        </div>
    {%  endif %}
    </form>
    {% include "datatables/stub.datatable_config.html" %}
</div>
