<div class='server_datatable'>
    <form id="{{ table.id }}_update_form" method="{% firstof table.form.method "post"%}"
          {%  if table.form.target %}target="{{ table.form.target }}"{%  endif %}
          {%  if table.form.action %}action="{{ table.form.action }}"{%  endif %} >
    {% csrf_token %}
    <table id='{{ table.id }}'>
        <thead>
            <tr>
                {%  for column in table %}
                    <th class='{{ column.classes }}'>{{ column.label }}</th>
                {%  endfor %}
            </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
            <tr>
                {%  for column in table %}
                    <th class="{{ column.classes }}" >
                        {{ column.widget }}
                    </th>
                {%  endfor %}
            </tr>
        </tfoot>
    </table>
    {%  if table.editable %}
        <div class='action_bar'>
            <input type='submit' value='Save'>
        </div>
    {%  endif %}
    </form>
    <div style="display:none;" class='server_table_config'>
        <a href='{{ table.source }}' class='tablesource'></a>
        <ol class='col_attrs'>
            {%  for col in table %}
                <li title="{{ col.label }}">{{ col.properties }}</li>
            {%  endfor %}
        </ol>
        <div class='col_bar_info'>
            <div class='col_menu ui-corner-all'>
                <div><a class='col_options' href="stub.server_data_table.html#"><span class="ui-icon ui-icon-triangle-1-s" ></span></a></div>
            </div>
            <div class='col_menu_html ui-helper-hidden'>
                <ul>
                {%  for col in table %}
                    <li><a href="javascript:void(0)" title="{{ col.label }}">{{ col.label }}</a></li>
                {%  endfor %}
                </ul>
            </div>
        </div>
        {%  if table.search_form %}
            <form class='search_form'>
                <div class='dataTables_adv_filter_form'>
                    {{ table.search_form.as_p }}
                </div>
            </form>
        {%  endif %}
    </div>
</div>
