{% comment %}Chrome Tab For IE{% endcomment %}
<!--[if IE]>
    <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>

    <style>
    .chromeFrameInstallDefaultStyle {
      width: 100%; /* default is 800px */
      border: 5px solid blue;
    }
    </style>

    <div id="prompt">
    <!-- if IE without GCF, prompt goes here -->
    </div>

    <script>
        // The conditional ensures that this code will only execute in IE,
        // Therefore we can use the IE-specific attachEvent without worry
        if (window.attachEvent != undefined){
            window.attachEvent("onload", function() {
                CFInstall.check({
                    mode: "inline", // the default
                    node: "prompt"
                });
            });
        }
    </script>
<![endif]-->